@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

@theme {
  /*Infinite scroll animation*/
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@theme {
  /*custom cursor*/
  --handcursor: url(/cursor.svg) 25 25, pointer;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /*Tobii mods*/
  .tobii-zoom {
    width: 100%;
  }
  .tobii__slide figure > img {
    padding-bottom: 50px;
  }

  /* iframe {
      max-width: 90%;
      margin: auto;
  } */

  .tobii {
    background-color: black;
  }
}

@layer components {
}
@layer utilities {
}

@layer base {
  a,
  button {
    @apply cursor-(--handcursor);
  }
}
